@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir/Avenir Book/Avenir Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir/Avenir Regular/Avenir Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir/Avenir Heavy/Avenir Heavy.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir/Avenir Black/Avenir Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir/Avenir Light/Avenir Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
